name: Run Bot

on:
  workflow_dispatch:
env:
  TOKEN: '${{ secrets.TOKEN }}'
  ID: '${{ secrets.ID }}'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2
        with:
          version: 7
          run-install: false

      - run: pnpm install
      - run: pnpm start -m "Latest release on boards-discord" -r "https://github.com/kolaczyn/boards-discord"
